<div class="clearfix" id="J_ManageDialog">
    <div class="modal-content-l">
        <div class="modal-body">
            <div class="comm-mod5 comm-mod5-ex2" id="J_ManageDialog_Left"></div>
        </div>
    </div>
    <div class="modal-content-r">
        <div class="comm-mod4" id="J_ManageDialog_Right"></div>
    </div>
</div>