<div class="dialog-jpxq">
    <div class="dialog-jpxq-c1">
        <div class="pic"><img src="{{getImage image}}" width="180" height="126" alt="" data-pinit="registered"></div>
        <div class="text">
            <h2 class="tit">{{name}}</h2>
            <p class="jiage">￥{{price}}</p>
            <p>{{description}}</p>
        </div>
    </div>
    <div class="dialog-jpxq-c3">
        <div class="hd">
            <h2 class="tit">竞拍纪录</h2>
        </div>
        <div class="bd">
            <table class="table table-bordered table-striped table-condersed">
                <thead>
                    <tr>
                        <th style="width:80px;">姓名</th>
                        <th>部门</th>
                        <th style="width:100px;">出价</th>
                        <th style="width:200px;">时间</th>
                    </tr>
                </thead>
                <tbody id="J_Dialog_List"></tbody>
            </table>
            <ul class="pagination" id="J_Dialog_Page"></ul>
        </div>
    </div>
</div>