<div class="sell-zw-box">
    <div class="sell-zw-hd">
        <h2 class="tit">您还没有获得奖品</h2>
        <div class="link">
            <a href="/auction.htm" class="hover">前去参与拍卖</a>
            <span class="sep">|</span>
            <a href="javascript:;" id="J_Show">如何获得积分</a>
        </div>
    </div>
    <div class="sell-zw-bd" id="J_Hint" style="display: none;">
        <div class="how-jifen">
            <h2 class="tit">如何获得积分</h2>
            <div class="con">
                <p>前去悬赏系统</p>
            </div>
        </div>
    </div>
</div>