<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd   
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd   
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- 定时器配置 -->
	<import resource="classpath:spring_quartz.xml" />

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- zookeeper://zk1.soa.local.17173.com:2181?backup=zk2.soa.local.17173.com:2181,zk3.soa.local.17173.com:2181 -->
	<!--  ******************************** dubbo 服务注册  ******************* zookeeper://10.5.117.141:2181   zookeeper://10.5.121.143:2181-->
	<dubbo:application name="17173-ermp-service-app" />
	
	<dubbo:registry 
		address="zookeeper://10.5.117.141:2181" />
	
	<dubbo:service timeout="20000" interface="com.cyou.fz.services.ermp.api.service.LevelDubboService" ref="level_Dubbo" version="1.0.1"/>
	<dubbo:service timeout="20000" interface="com.cyou.fz.services.ermp.api.service.PositionDubboService" ref="position_Dubbo" version="1.0.1"/>
	<dubbo:service timeout="20000" interface="com.cyou.fz.services.ermp.api.service.UserDubboService" ref="user_Dubbo" version="1.0.1"/>
	<dubbo:service timeout="20000" interface="com.cyou.fz.services.ermp.api.service.DictDubboService" ref="treeDict_Dubbo" version="1.0.1"/>
	
	<dubbo:reference check="false" timeout="20000" interface="com.cyou.fz.services.mc.api.service.MessageDubboService" id="mc_Dubbo" version="1.0.0"/>
	
    <dubbo:protocol name="dubbo" port="-1" /> 

	<!-- 配置文件读取 -->
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:enterprise.properties</value>
			</list>
		</property>
	</bean>

	<!-- ******************************** 数据库数据源 配置 ******************************** -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${driverClass}" />
		<property name="jdbcUrl" value="${jdbcUrl}" />
		<property name="user" value="${user}" />
		<property name="password" value="${password}" />
		<property name="minPoolSize" value="${minPoolSize}" />
		<property name="maxPoolSize" value="${maxPoolSize}" />
		<property name="maxIdleTime" value="${maxIdleTime}" />
		<property name="acquireIncrement" value="${acquireIncrement}" />
		<property name="maxStatements" value="${maxStatements}" />
		<property name="initialPoolSize" value="${initialPoolSize}" />
		<property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}" />
	</bean>

	<!-- ******************************** 数据库事务 配置 ******************************** -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" rollback-for="java.lang.Exception" />
			<tx:method name="add*" rollback-for="java.lang.Exception" />
			<tx:method name="update*" rollback-for="java.lang.Exception" />
			<!-- 虽然与save*重复,显式声明 -->
			<tx:method name="saveOrUpdate*" rollback-for="java.lang.Exception" />
			<tx:method name="del*" rollback-for="java.lang.Exception" />
			<!-- 虽然与del*重复,显式声明 -->
			<tx:method name="delete*" rollback-for="java.lang.Exception" />
			<tx:method name="cancel*" rollback-for="java.lang.Exception" />
			<tx:method name="callBack*" rollback-for="java.lang.Exception" />
			<tx:method name="set*" rollback-for="java.lang.Exception" />
			<tx:method name="do*" rollback-for="java.lang.Exception" />
			<tx:method name="off*" rollback-for="java.lang.Exception" />
			<!-- 以下方法开头只查询无事务 -->
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="interceptorPointCuts"
			expression="execution(* com.cyou.fz.ermp.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="interceptorPointCuts" />
	</aop:config>
	<context:component-scan base-package="com.cyou" />

	<!-- ******************************** MyBatis 配置 ******************************** -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.cyou.fz.ermp.po" />
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.cyou.fz.ermp.dao" />
	</bean>

	<!-- ******************************** Xmemcached 配置 ******************************** -->
	<bean id="cacheProxy" class="com.cyou.fz.ermp.util.cache.memcached.XmemcachedCacheProxy">
		<property name="addressList" value="${memcached.servers}" />
		<property name="connectionPoolSize" value="${memcached.connectionPoolSize}" />
	</bean>

	<!-- ******************************** FreeMarker 配置 ******************************** -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
                <!-- json转换器 -->
            </list>
        </property>
        <property name="webBindingInitializer">
            <bean class="com.cyou.fz.ermp.web.springmvc.BindingInitializer"/>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
                <!-- json转换器 -->
            </list>
        </property>
        <property name="webBindingInitializer">
            <bean class="com.cyou.fz.ermp.web.springmvc.BindingInitializer"/>
        </property>
    </bean>
    <bean id="mappingJacksonHttpMessageConverter" class="com.cyou.fz.ermp.web.springmvc.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="defaultHandler" ref="wildcardMVCController"/>
    </bean>
	<bean id="wildcardMVCController" class="com.cyou.fz.ermp.web.springmvc.WildcardMVCController"/>
	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value=""/>
        <property name="freemarkerSettings">
            <props>
                <prop key="tag_syntax">auto_detect</prop>
                <prop key="template_update_delay">0</prop>
                <prop key="defaultEncoding">UTF-8</prop>
                <prop key="url_escaping_charset">UTF-8</prop>
                <prop key="locale">en_US</prop>
                <prop key="boolean_format">true,false</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="time_format">HH:mm:ss</prop>
                <prop key="number_format">0.######</prop>
                <prop key="whitespace_stripping">true</prop>
            </props>
        </property>
    </bean>
	<!-- ******************************** spring mvc全局异常处理 ******************************** -->
	<bean class="com.cyou.fz.ermp.web.GlobalExceptionHandler">
		<property name="contentType" value="${system.contentType}" />
		<property name="errorUrl" value="/error" />
	</bean>

	<!-- ******************************** 邮件发送配置 ******************************** -->
	<bean id="mailEngine" class="com.cyou.fz.ermp.util.email.MailEngine" />
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="port" value="${mail.port}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>
	<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="${mail.addr}" />
	</bean>

    <bean id="applicationContextUtil" class="com.cyou.fz.ermp.util.context.ApplicationContextUtil"></bean>
</beans>
