<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
	default-lazy-init="false">

	<import resource="spring-viewResolver.xml" />

	<!-- 对静态资源文件的访问 -->
	<mvc:default-servlet-handler />
	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven />
	<!-- 拦截器JSONP -->
	<mvc:interceptors>
		<bean class="com.greenleaf.common.springmvc.JSONPInterceptor" />
	</mvc:interceptors>
	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="com.greenleaf.crm"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 登陆拦截 -->
	<!-- <mvc:interceptors> -->
	<!-- <bean class="com.greenleaf.crm.utils.filter.LoginInteceptor"></bean> -->
	<!-- </mvc:interceptors> -->

	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!-- 对静态资源文件的访问 -->
	<mvc:resources location="/fed/" mapping="/fed/**" />

	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射， 配置一个基于注解的定制的WebBindingInitializer，解决日期转换问题，方法级别的处理器映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
		<property name="webBindingInitializer">
			<bean class="com.greenleaf.common.springmvc.BindingInitializer" />
		</property>
	</bean>
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
		<property name="webBindingInitializer">
			<bean class="com.greenleaf.common.springmvc.BindingInitializer" />
		</property>
	</bean>
	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="com.greenleaf.common.springmvc.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=utf-8</value>
				<value>application/json;charset=utf-8</value>
				<value>application/x-javascript;charset=utf-8</value>
			</list>
		</property>
	</bean>

	<!-- 全局异常配置 start -->
	<bean id="exceptionResolver" class="com.greenleaf.common.exception.GlobalExceptionHandler" />
	<!-- 全局异常配置 end -->

	<bean id="handlerMapping"
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="defaultHandler" ref="wildcardMVCController" />
	</bean>
	<bean id="wildcardMVCController" class="com.greenleaf.crm.utils.web.WildcardMVCController" />
	<!-- FreeMarker 配置 -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="" />
		<property name="freemarkerSettings">
			<props>
				<prop key="tag_syntax">auto_detect</prop>
				<prop key="template_update_delay">0</prop>
				<prop key="defaultEncoding">UTF-8</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="locale">en_US</prop>
				<prop key="boolean_format">true,false</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="number_format">0.######</prop>
				<prop key="whitespace_stripping">true</prop>
				<!--空值处理<prop key="classic_compatible">true</prop> -->
			</props>
		</property>
	</bean>
</beans>