<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="false">
	<!-- 视图解释类 -->
	<bean
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="prefix" value="/WEB-INF/template/ftl/"></property>
		<property name="suffix" value="/index.ftl"></property>
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="viewClass"
			value="com.greenleaf.crm.utils.web.WebFreeMarkerView" />
	</bean>
</beans>