<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenleaf.crm.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.greenleaf.crm.bean.Menu">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
    <result column="KEY_NAME" jdbcType="VARCHAR" property="keyName" />
    <result column="ADD_USER" jdbcType="INTEGER" property="addUser" />
    <result column="ADD_TIME" jdbcType="BIGINT" property="addTime" />
    <result column="UPDATE_USER" jdbcType="INTEGER" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="BIGINT" property="updateTime" />
    <result column="ABLE_FLAG" jdbcType="CHAR" property="ableFlag" />
    <result column="DELETE_FLAG" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MENU_NAME, PARENT_ID, SORT, ICON, METHOD, KEY_NAME, ADD_USER, ADD_TIME, UPDATE_USER, 
    UPDATE_TIME, ABLE_FLAG, DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.greenleaf.crm.bean.Menu">
    insert into menu (ID, MENU_NAME, PARENT_ID, 
      SORT, ICON, METHOD, 
      KEY_NAME, ADD_USER, ADD_TIME, 
      UPDATE_USER, UPDATE_TIME, ABLE_FLAG, 
      DELETE_FLAG)
    values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{keyName,jdbcType=VARCHAR}, #{addUser,jdbcType=INTEGER}, #{addTime,jdbcType=BIGINT}, 
      #{updateUser,jdbcType=INTEGER}, #{updateTime,jdbcType=BIGINT}, #{ableFlag,jdbcType=CHAR}, 
      #{deleteFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.greenleaf.crm.bean.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="menuName != null">
        MENU_NAME,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="method != null">
        METHOD,
      </if>
      <if test="keyName != null">
        KEY_NAME,
      </if>
      <if test="addUser != null">
        ADD_USER,
      </if>
      <if test="addTime != null">
        ADD_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="ableFlag != null">
        ABLE_FLAG,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="keyName != null">
        #{keyName,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null">
        #{addUser,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="ableFlag != null">
        #{ableFlag,jdbcType=CHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.greenleaf.crm.bean.Menu">
    update menu
    <set>
      <if test="menuName != null">
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        METHOD = #{method,jdbcType=VARCHAR},
      </if>
      <if test="keyName != null">
        KEY_NAME = #{keyName,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null">
        ADD_USER = #{addUser,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        ADD_TIME = #{addTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="ableFlag != null">
        ABLE_FLAG = #{ableFlag,jdbcType=CHAR},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.greenleaf.crm.bean.Menu">
    update menu
    set MENU_NAME = #{menuName,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      SORT = #{sort,jdbcType=INTEGER},
      ICON = #{icon,jdbcType=VARCHAR},
      METHOD = #{method,jdbcType=VARCHAR},
      KEY_NAME = #{keyName,jdbcType=VARCHAR},
      ADD_USER = #{addUser,jdbcType=INTEGER},
      ADD_TIME = #{addTime,jdbcType=BIGINT},
      UPDATE_USER = #{updateUser,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=BIGINT},
      ABLE_FLAG = #{ableFlag,jdbcType=CHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
<!--   <resultMap id="BaseResultMap" type="com.greenleaf.crm.bean.Menu" > -->
<!--     <id column="ID" property="id" jdbcType="INTEGER" /> -->
<!--     <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" /> -->
<!--     <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" /> -->
<!--     <result column="SORT" property="sort" jdbcType="INTEGER" /> -->
<!--     <result column="ICON" property="icon" jdbcType="VARCHAR" /> -->
<!--     <result column="METHOD" property="method" jdbcType="VARCHAR" /> -->
<!--     <result column="EXPAND" property="expand" jdbcType="VARCHAR" /> -->
<!--     <result column="GROUP_ID" property="groupId" jdbcType="INTEGER" /> -->
<!--   </resultMap> -->
<!--   <sql id="Base_Column_List" > -->
<!--     ID, MENU_NAME, PARENT_ID, SORT, ICON, METHOD, EXPAND, GROUP_ID -->
<!--   </sql> -->
<!--   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" > -->
<!--     select  -->
<!--     <include refid="Base_Column_List" /> -->
<!--     from menu -->
<!--     where ID = #{id,jdbcType=INTEGER} -->
<!--   </select> -->
<!--   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" > -->
<!--     delete from menu -->
<!--     where ID = #{id,jdbcType=INTEGER} -->
<!--   </delete> -->
<!--   <insert id="insert" parameterType="com.greenleaf.crm.bean.Menu" > -->
<!--     insert into menu (ID, MENU_NAME, PARENT_ID,  -->
<!--       SORT, ICON, METHOD,  -->
<!--       EXPAND, GROUP_ID) -->
<!--     values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},  -->
<!--       #{sort,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR},  -->
<!--       #{expand,jdbcType=VARCHAR}, #{groupId,jdbcType=INTEGER}) -->
<!--   </insert> -->
<!--   <insert id="insertSelective" parameterType="com.greenleaf.crm.bean.Menu" > -->
<!--     insert into menu -->
<!--     <trim prefix="(" suffix=")" suffixOverrides="," > -->
<!--       <if test="id != null" > -->
<!--         ID, -->
<!--       </if> -->
<!--       <if test="menuName != null" > -->
<!--         MENU_NAME, -->
<!--       </if> -->
<!--       <if test="parentId != null" > -->
<!--         PARENT_ID, -->
<!--       </if> -->
<!--       <if test="sort != null" > -->
<!--         SORT, -->
<!--       </if> -->
<!--       <if test="icon != null" > -->
<!--         ICON, -->
<!--       </if> -->
<!--       <if test="method != null" > -->
<!--         METHOD, -->
<!--       </if> -->
<!--       <if test="expand != null" > -->
<!--         EXPAND, -->
<!--       </if> -->
<!--       <if test="groupId != null" > -->
<!--         GROUP_ID, -->
<!--       </if> -->
<!--     </trim> -->
<!--     <trim prefix="values (" suffix=")" suffixOverrides="," > -->
<!--       <if test="id != null" > -->
<!--         #{id,jdbcType=INTEGER}, -->
<!--       </if> -->
<!--       <if test="menuName != null" > -->
<!--         #{menuName,jdbcType=VARCHAR}, -->
<!--       </if> -->
<!--       <if test="parentId != null" > -->
<!--         #{parentId,jdbcType=INTEGER}, -->
<!--       </if> -->
<!--       <if test="sort != null" > -->
<!--         #{sort,jdbcType=INTEGER}, -->
<!--       </if> -->
<!--       <if test="icon != null" > -->
<!--         #{icon,jdbcType=VARCHAR}, -->
<!--       </if> -->
<!--       <if test="method != null" > -->
<!--         #{method,jdbcType=VARCHAR}, -->
<!--       </if> -->
<!--       <if test="expand != null" > -->
<!--         #{expand,jdbcType=VARCHAR}, -->
<!--       </if> -->
<!--       <if test="groupId != null" > -->
<!--         #{groupId,jdbcType=INTEGER}, -->
<!--       </if> -->
<!--     </trim> -->
<!--   </insert> -->
<!--   <update id="updateByPrimaryKeySelective" parameterType="com.greenleaf.crm.bean.Menu" > -->
<!--     update menu -->
<!--     <set > -->
<!--       <if test="menuName != null" > -->
<!--         MENU_NAME = #{menuName,jdbcType=VARCHAR}, -->
<!--       </if> -->
<!--       <if test="parentId != null" > -->
<!--         PARENT_ID = #{parentId,jdbcType=INTEGER}, -->
<!--       </if> -->
<!--       <if test="sort != null" > -->
<!--         SORT = #{sort,jdbcType=INTEGER}, -->
<!--       </if> -->
<!--       <if test="icon != null" > -->
<!--         ICON = #{icon,jdbcType=VARCHAR}, -->
<!--       </if> -->
<!--       <if test="method != null" > -->
<!--         METHOD = #{method,jdbcType=VARCHAR}, -->
<!--       </if> -->
<!--       <if test="expand != null" > -->
<!--         EXPAND = #{expand,jdbcType=VARCHAR}, -->
<!--       </if> -->
<!--       <if test="groupId != null" > -->
<!--         GROUP_ID = #{groupId,jdbcType=INTEGER}, -->
<!--       </if> -->
<!--     </set> -->
<!--     where ID = #{id,jdbcType=INTEGER} -->
<!--   </update> -->
<!--   <update id="updateByPrimaryKey" parameterType="com.greenleaf.crm.bean.Menu" > -->
<!--     update menu -->
<!--     set MENU_NAME = #{menuName,jdbcType=VARCHAR}, -->
<!--       PARENT_ID = #{parentId,jdbcType=INTEGER}, -->
<!--       SORT = #{sort,jdbcType=INTEGER}, -->
<!--       ICON = #{icon,jdbcType=VARCHAR}, -->
<!--       METHOD = #{method,jdbcType=VARCHAR}, -->
<!--       EXPAND = #{expand,jdbcType=VARCHAR}, -->
<!--       GROUP_ID = #{groupId,jdbcType=INTEGER} -->
<!--     where ID = #{id,jdbcType=INTEGER} -->
<!--   </update> -->
</mapper>